@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  font-family: "ubuntu", sans-serif;
}
.navbar .sticky {
  padding: 15px 0;
  background: #29ea06;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #29ea06;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #29ea06;
}

/* inicio da section styling*/
.home {
  display: flex;
  background: url(./img/44.jpg) no-repeat center;
  height: 10hv;
  color: #fff;
  min-height: 730px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #29ea06;
  font-weight: 500px;
}
